
h1{
	font-style: italic;
}
p{
	font-style: italic;
}
body{

	background-color: #A9A9F5;
}
.publi{
	float:right;
	background-color:white;
	height:230%;
	width:12%;
}

#cabecera{
	float:left;
	height:100px;
	width: 50%;

}

#cabecera h1{
	font-family: 'Lobster', cursive;
	font-size: 65px;
	margin-top: 5px;
	margin-left: 200px;
	-webkit-text-fill-color: #A4A4A4;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

#logo{
	float:left;
	height: 82%;
	width: 14%;
	margin-left: 1%;
	margin-top: 5px;

}

.login {
	float:left;
	height:22%;
	width:25%;
	border:3% #CCC solid;
	background-size: 100% 100%;

}
#recov{
	float:left;
	margin:5px;
	font-family: 'Oswald', sans-serif;
	color: black;
}

#logout{
	font-family: 'Oswald', sans-serif;
	color: black;
}

#administrar{
		margin-left: 30px;
	  font-family: 'Oswald', sans-serif;
		color: black;
}

#log{
	height: 130px;
	width: 200px;
	float: left;

}

#log h3{
	  font-family: 'Lobster', cursive;
		margin-left: 45px;
}

#log1{
	color: #2E3133;
	float:left;
	margin:4%;
	border-radius:25%;
	border: 1px solid #DBE1EB;
  font-size: 14px;
	font-family: Arial, Verdana;
	padding-left: 2px;
	padding-right:2px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 4px;
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background: #FFFFFF;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);

}

#Sign{
	float: left;
	margin-left: 5px;
	background: #EEEEEE;
	border:2% #EFF transparent;
}

#novedades{
	float: left;
	width: 86%;
	height:263px;
}

#nov{

	float: left;
	width: 33%;
	height: 263px;
}

#novporgenero{
	float:right;
	margin-right:12px;
	width: 23%;
	height: 170%;
	border-style:groove;
	border-width: 5px;

}


#noticias{

	float:left;
	width: 30%;
	height: 40%;
	border-style:groove;
  border-width: 5px;
	overflow: scroll;
	background-color: white;

}

#tit{
	float:left;
	width: 100%;
	height:20px;
}

#tit h1{

	font-family: 'Lobster', cursive;
  margin-top: -5px;
  margin-left: 30%;
}

#discocomentado{

	float:left;
	width: 30%;
	height: 40%;
	border-style:groove;
  border-width: 5px;
}

#ultimos_discos{

	float: left;
	width: 61%;
	margin-left: 5px;
	height: 70%;

}

#fot{
	float:right;
	margin-top:30px;
	margin-bottom:0;
	height: 20%;
	width: 100%;
	border-style: solid;
  border-width: 5px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}

/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
